.about{
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
  background: var(--color-black);
  padding-block: 2rem;


  &__container{
    display: grid;
    grid-template-columns:subgrid;
    grid-column: 1/-1;
    margin-inline: 5vw;
  }

  &__image{
    grid-column: 1/-1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &-img{
      background-image: var(--about-welcome-image);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      inline-size: 100%;
    }
  }

  &__content{
    grid-column: 1/-1;
    grid-row: 2;
  }

  &__title{
    color: var(--color-primary-green);
  }

  &__text{
    color: var(--color-white);
  }

  &__quote{
    color: var(--color-primary-red);

    &-text{
      margin-block: 0;
    }
  }
}