@use '../abstracts/mixins' as *;

.about-hero {
  background: #000000;
  padding: 8rem 2rem 4rem;
  position: relative;
  overflow: hidden;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    padding: 10rem 1.5rem 3rem;
    min-height: 300px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/src/assets/imgs/stock/welcome_image.jpg') center/cover;
    opacity: 0.2;
    z-index: 0;
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    text-align: center;
  }

  &__content {
    max-width: 800px;
    margin: 0 auto;
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    margin: 0 0 1rem;
    line-height: 1.2;

    @include mobile {
      font-size: 2rem;
    }
  }

  &__subtitle {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.6);
    margin: 0 0 1.5rem;
    font-style: italic;
  }

  &__text {
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
    line-height: 1.6;

    @include mobile {
      font-size: 1.1rem;
    }
  }
}

