.textblock-media {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
  background: var(--color-black);
  padding-block: 2rem;


  @media (min-width: 50rem) {
    padding-block: 5.5rem;
  }

  &__container{
    display: grid;
    grid-template-columns:subgrid;
    grid-column: 1/-1;
    margin-inline: 5vw;

    @media( min-width: 45rem) {
      block-size: 12rem;
      grid-column: 2/-2;
    }

    @media( min-width: 50rem) {
      block-size: 15rem;
    }

    @media (min-width: 98.75rem) { /* 1580px */
      margin-inline: 0;
    }
  }

  &__title{
    color: var(--color-primary-green);
    grid-column: 1/-1;
    grid-row: 1;
    margin-block-start: 2vh;

    &-break {
      display: block;

      @media (min-width: 450px) {
        display: inline;
      }
    }

    @media (min-width: 28.125rem) {
      font-size: 1.6rem;
      justify-self: center;
    }

    @media (min-width: 33.4375rem) {
      font-size: 2rem;
    }

    @media (min-width: 40rem) {
      font-size: 2.4rem;
    }

    @media (min-width: 45rem) {
      font-size: 1.3rem;
      max-block-size: 2rem;
      grid-row: 1;
      grid-column: 6/-1;
      justify-self: start;
    }

    @media (min-width: 50rem) {
      margin-block-start: 0;
    }

    @media (min-width: 59.4rem) {
      font-size: 1.875rem;
    }
  }

  &__image{
    grid-column: 1/-1;
    grid-row: 2;
    display: flex;
    padding-block: 1rem;
    justify-content: center;
    align-items: center;

    &-img{
      background-image: var(--tectblock-media-welcome-image);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      inline-size: 100%;
    }

    @media (min-width: 33.4375rem) {
      grid-column: 1/-8;
      grid-row: 2;
      inline-size: 100%;
    }

    @media (min-width: 45rem) {
      grid-column: 1/-8;
      grid-row: 1;
      max-inline-size: 23.75rem;
      inline-size: 100%;
      max-block-size: 20rem;
      block-size: 112%;
      overflow: clip;
    }

    @media (min-width: 50rem) {
      block-size: 70%;
    }
  }

  &__content{
    grid-column: 1/-1;
    grid-row: 3;

    @media( min-width: 33.4375rem){
      grid-column: 8/-1;
      grid-row: 2;
    }

    @media( min-width: 45rem){
      grid-column: 6/-1;
      grid-row: 1;
      margin-block-start: 2rem;
      block-size: fit-content;
    }

    @media( min-width: 50rem){
      margin-block-start: 3.125rem;
    }

    @media (min-width: 59.4rem) {
      font-size: 1.25rem;
    }
  }

  &__text{
    color: var(--color-white);
  }

  &__quote{
    color: var(--color-primary-red);

    &-text{
      margin-block: 0;
    }

    @media (min-width: 59.4rem) {
      font-size: 1rem;
    }
  }
}