// Variables
// Define your variables here
:root {
  //colors
  --color-primary-green: rgba(0, 165, 80, 1);
  --color-primary-yellow: rgba(240, 251, 89, 1);
  --color-primary-red: rgba(226, 35, 26, 1);
  --color-secondary-green: rgba(0, 165, 80, 0.75);
  --color-secondary-yellow: rgba(240, 251, 89, 0.8);
  --color-secondary-red: rgba(226, 35, 26, 0.8);
  --color-tertiary-orange: rgba(243, 181, 82, 1);

  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(0, 0, 0, 1);

  //$--color-gray-100: #
  //$--color-gray-200: #
  //$--color-gray-300: #

  //borders


}