// Footer styles
// Define your footer styles here using BEM methodology

.footer{
  display: grid;
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-template-columns: minmax(var(--container-min-space, 1rem), 1fr) repeat(var(--container-columns, 12), minmax(0, var(--container-column-width))) minmax(var(--container-min-space, 1rem), 1fr);
  column-gap: var(--container-gutter, 1rem);
  --container-column-width: calc(
          (var(--container-width, 83.75rem) - var(--container-gutter, 1rem) * (var(--container-columns, 12) - 1)) /
          var(--container-columns, 12)
  );
  background-color: var(--bg-white);
  box-shadow: 0 0 10px #1e1e1e54;
  min-block-size: 10vh;
  min-inline-size: 100vw;
  z-index: 99;

  &__container{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
    inline-size: 100%;
    margin-inline: 5vw;
    align-items: center;
    position: relative;
    z-index: 101;
  }

  &__content{
    grid-column: 1/-1;
  }
}