// Main SCSS entry file
// Import your partials here as you develop them

// global styles
@import 'base/global';
@import 'abstracts/mixins';
@import 'abstracts/variables';


// Layout styles
@import 'layouts/header';
@import 'layouts/footer';

// Pages
@import 'pages/tarieven';
@import 'pages/package-detail';
@import 'pages/contact-page';
@import 'pages/algemene-voorwaarden';

// sections
@import 'sections/hero';
@import 'sections/textblock-media';
@import 'sections/tiles';
@import 'sections/packages-section';
@import 'sections/cta-proefles';
@import 'sections/contact';
@import 'sections/testimonies';
@import 'sections/tarieven-hero';
@import 'sections/basic-pricing';
@import 'sections/package-comparison';
@import 'sections/faq';
@import 'sections/package-detail';
@import 'sections/about-hero';
@import 'sections/mission';
@import 'sections/story';
@import 'sections/team';
@import 'sections/work-area';
@import 'sections/about-cta';

